.header {
    background-color: #232F3E;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 10%;
    width: 100%;
    color: #5d6468;
}

.header_logo {
    height: 50px;
    margin: 0 20px;
    object-fit: contain;
    position: relative;
    left: 45%;
}

.header_cart {
    float: right;
    position: absolute;
    height: 15%;
    right: 10px;
    bottom: 30px;
}

.header_basket_count {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;
}

.header_link {
    text-decoration: none;
}