.productcart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productcart_image{
    object-fit: contain;
    width: 160px;
    height: 160px;
    border: 1px solid #ccc;
}

.productcart_name{
    font-size: 16px;
    font-weight: 600;
}

.productcart_info{
    padding-left: 20xp;
}

.productcart_info > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

